.favorito-tela {
  height: 10vh;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #000000;
  border-radius: 20px;
  width: 400px;
  background-color: #ff3e0a;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  margin-top: 120px;
}

.favorito-tela::before {
  content: "";
  width: 200px;
  height: 200px;
  top: -120px;
  left: 70px;
  z-index: -1;
  position: absolute;
  background: url("../assets/miuu.png") no-repeat;
  filter: brightness(0);
}

/* dicas favotiros */
.dicas-favoritos {
  width: calc(80% - 40px);
  margin: 20px 0;
  margin-left: 10%;
  background-color: #ffdb1b;
  border: 3px solid #000000;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5;
  text-align: justify;
  padding: 20px;
  box-shadow: 0px 0px 10px #000000;
}
.dicas-favoritos h2 {
  margin-bottom: 10px;
  color: black;
  padding: 20px 0;
  font-weight: bold;
  letter-spacing: 3px;
}
.dicas-favoritos p {
  margin-top: 10px;
  color: black;
}