    h3{
        font-size: 2vw;
        -webkit-text-stroke: 1.5px #000000;
    }
    span{
        font-size: 1.3vw;
        font-weight: bolder;
        -webkit-text-stroke: 1px #000000;
    }
    .secao-comparacao{
        width: 80%;
        margin: 50px 0;
        margin-left: 10%;
    }
    .escolha-pokemom > h2{
        text-align: center;
    }
    .escolha-pokemom > div{
        display: flex;
        justify-content: space-between;
    }
    .comparar-info{
        display: flex;
        justify-content: space-between;
        border-radius: 24px;
        border: 0px solid #000000;
        background-color: #ff2c57;
    }
    .visualizacao-comparacao-container{
        width: 33%;
        display: flex;
        align-items: center;
    }
    .visualizacao-comparacao{
        width: 90%;
        height: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .linhas-comparacao{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pokedex{
        width: 100%;
        display: flex;
        border: 4px solid #000000;
        border-radius: 30px;
    }
    .pokedex-ui{
        position: relative;
        width: 33%;
        height: 0;
        padding-bottom: 49.3%;
        background-image: url("./assets/pokedex-ui.png");
        background-size: contain;
        border-radius: 24px;
        border: 3px solid #000000;
    }
    .stats *{
        font-family: 'Press Start 2P', system-ui;
        font-size: 1.1vw;
    }
    .stats, .pokedex-ui h4{
        transform: translate(-50%, -50%);
    }
    .pokedex-ui h4{
        position: absolute;
        top: 77.5%;
        left: 50%;
        font-size: 1.8vw;
        -webkit-text-stroke: 2px #000000;
    }
    .moldura-pokedex-ui{
        position: absolute;
        display: block;
        width: 87%;
        height: 56%;
        top: 16%;
        left: 5.5%;
    }
    .tipo-pokemom{
        position: absolute;
        border-radius: 150px;
        height: 8%;
        width: 30%;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tipo-pokemom span{
        font-size: 2vw;
    }
    .stats{
        position: absolute;
        top: 89%;
        left: 50%;
        width: 10vw;
    }
    .ganhador{
        -webkit-text-stroke: 0.2px #f9f900;
    }
    .ganhador > *{
        -webkit-text-stroke: 0.2px #f9f900;
    }

    @media screen and (max-width: 1500px){
        .secao-comparacao{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .escolha-pokemom > div{
            flex-direction: column;
        }
        .comparar-info{
            width: 382px;
            flex-direction: column;
        }
        .pokedex-ui{
            width: 380px;
            height: 556px;
            padding: 0;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }