    h3{
        font-size: 2vw;
        -webkit-text-stroke: 1.5px #000000;
    }
    span{
        font-size: 1.3vw;
        font-weight: bolder;
        -webkit-text-stroke: 1px #000000;
    }
    .secao-comparacao{
        width: 80%;
        margin: 50px 0;
        margin-left: 10%;
    }
    .escolha-pokemom > h2{
        text-align: center;
    }
    .escolha-pokemom > div{
        display: flex;
        justify-content: space-between;
    }
    .comparar-info{
        display: flex;
        justify-content: space-between;
        border-radius: 24px;
        border: 0px solid #000000;
        background-color: #ff2c57;
    }
    .visualizacao-comparacao-container{
        width: 33%;
        display: flex;
        align-items: center;
    }
    .visualizacao-comparacao{
        width: 90%;
        height: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .linhas-comparacao{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pokedex{
        width: 100%;
        display: flex;
        border: 4px solid #000000;
        border-radius: 30px;
    }
    .pokedex-ui{
        position: relative;
        width: 33%;
        height: 0;
        padding-bottom: 49.3%;
        background-image: url("./assets/pokedex-ui.png");
        background-size: contain;
        border-radius: 24px;
        border: 3px solid #000000;
    }
    .stats *{
        font-family: 'Press Start 2P', system-ui;
        font-size: 1.1vw;
    }
    .stats, .pokedex-ui h4{
        transform: translate(-50%, -50%);
    }
    .pokedex-ui h4{
        position: absolute;
        top: 77.5%;
        left: 50%;
        font-size: 1.8vw;
        -webkit-text-stroke: 2px #000000;
    }
    .moldura-pokedex-ui{
        position: absolute;
        display: block;
        width: 87%;
        height: 56%;
        top: 16%;
        left: 5.5%;
    }
    .tipo-pokemom{
        position: absolute;
        border-radius: 150px;
        height: 8%;
        width: 30%;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tipo-pokemom span{
        font-size: 2vw;
    }
    .stats{
        position: absolute;
        top: 89%;
        left: 50%;
    }
    .ganhador{
        -webkit-text-stroke: 0.2px #f9f900;
    }
    .ganhador > *{
        -webkit-text-stroke: 0.2px #f9f900;
    }

    @media screen and (max-width: 1500px){
        .secao-comparacao{
            display: flex;
            flex-direction: column;
            gap: 200px;
            align-items: center;
        }
        .escolha-pokemom > div{
            flex-direction: column;
            align-items: center;
        }
        .pokedex-ui{
            width: 150px;
            height: 150px;
            padding: 0px;
            border: none;
            position: absolute;
            top: -40%;
        }
        .left{
            left: 0px;
        }
        .right{
            right: 3px;
        }
        .comparar-info{
            width: 380px;
            height: 400px;
            position: relative;
        }
        .moldura-pokedex-ui{
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
            background: none;
        }
        h4{
            display: none;
        }
        .stats{
            display: none;
        }
        .tipo-pokemom{
            width: 80px;
            height: 25px;
        }
        .tipo-pokemom > span{
            font-size: 1rem;
        }
        .comparar{
            position: relative;
        }
        .visualizacao-comparacao-container{
            width: 100%;
            border: 3px solid black;
            border-radius: 20px;
        }
        .visualizacao-comparacao span{
            font-size: 0.9rem;
        }
        .visualizacao-comparacao h3{
            font-size: 1.4rem;
        }
        .img-moldura{
            transform: translate(0,0);
        }
    }