:root {
  --fundo-pagina: #ae0336;
  --barra-navegacao-rodape: #c80036;
  --vermelho-claro: #ff2c57;
  --botao: #0c1844;
  --destaque-links: #fff600;
  --cor-normal: #665842;
  --fundo-paginacao: #530018;
}
/* Padronização de atributos */
* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  color: #ffffff;
  font-size: 20px;
}
body {
  background-color: var(--fundo-pagina);
}

header {
  width: 100%;
  height: 100px;
  border: 2px solid #000000;
  border-width: 0 0px 2px 0px;
  border-radius: 0px 0px 10px 10px;
  background-color: var(--barra-navegacao-rodape);
}

h1 {
  text-align: center;
  -webkit-text-stroke: 2px #000000;
  font-size: 50px;
}
h2 {
  -webkit-text-stroke: 2px #000000;
  font-size: 40px;
}
button {
  margin-bottom: 10px;
  padding: 2px 10px;
  border-radius: 30px;
  background-color: var(--botao);
  font-weight: bolder;
  border: 2px solid #000000;
  box-shadow: 0px 5px 4px #000000;
  transition: 150ms ease-in-out;
}
button:active {
  transform: translate(0, 5px);
  box-shadow: 0 0 0 #000000;
}

/* Estilo da barra de navegacao superior */
.container-navegacao {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 30px;
}

.item-navegacao-esquerda {
  flex: 1;
}

.item-navegacao-centro {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item-navegacao-centro a {
  position: relative;
  font-weight: bold;
  text-decoration: none;
}

.item-navegacao-centro a:hover {
  color: var(--destaque-links);
  animation: aumentar 300ms ease-in-out forwards;
}

.item-navegacao-centro a::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 0%;
  background-color: var(--destaque-links);
  transition: 300ms ease-in-out;
}

.item-navegacao-centro a:hover::after {
  width: 100%;
}

.item-navegacao-direita {
  flex: 1;
}

#barra-pesquisa {
  border: none;
  border-radius: 20px;
  color: #0c1844;
  padding-left: 10px;
}

#barra-pesquisa:focus {
  outline: #ae0336;
}

/* Estilo do Rodapé */
footer {
  margin-top: 100px;
  background-color: var(--barra-navegacao-rodape);
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0 0;
  border: solid #000000;
  border-width: 2px 0 0 0;
}

footer div {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* Estilo do banner principal e demais elementos */
.container-banner-principal {
  position: relative;
  width: 90%;
  height: 0;
  padding-bottom: 20%;
  margin-left: 5%;
  background-image: url("./assets/banner1.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.container-banner-principal h2 {
  position: absolute;
  font-size: 100px;
  letter-spacing: 5px;
  -webkit-text-stroke: 5px #000000;
  top: 20px;
}
.container-banner-principal div {
  position: absolute;
  width: 550px;
  top: 130px;
  left: 50%;
  transform: translate(-50%, 0);
}
#banner-barra-de-busca {
  width: 490px;
  padding-left: 10px;
  border-radius: 40px;
}
.informativo-Pokedex {
  background-color: var(--vermelho-claro);
  width: 80%;
  margin-left: 10%;
  border-radius: 30px;
  border: 2px solid #000000;
  margin-top: 10px;
  padding: 40px;
}
.informativo-Pokedex p {
  text-align: justify;
}

/* estilo Filtros */

/* Div que contem os filtros */
.filtros {
  width: 80%;
  height: 200px;
  margin: 20px 0;
  margin-left: 10%;
  background-color: var(--vermelho-claro);
  border-radius: 20px;
  border: 3px solid #000000;
}

.filtros h2 {
  padding: 5px 30px;
}

.container-filtro {
  padding: 10px 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.filtro {
  width: 100px;
  height: 25px;
  background-color: gray;
  text-align: center;
  line-height: 25px;
  border-radius: 30px;
  border: 2px solid #000000;
  font-size: 22px;
  font-weight: bold;
  -webkit-text-stroke: 1px #000000;
  transition: 100ms ease-in-out;
}
.filtro:hover {
  cursor: pointer;
  transform: scale3d(1.1, 1.1, 1.1);
}

/* Seção de paginação */
.paginacao {
  width: 80%;
  margin: 20px 0;
  margin-left: 10%;
  border-radius: 20px;
  background-color: var(--fundo-paginacao);
  border: 3px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paginacao-grid-container {
  width: 890px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

/* mudar de pagina(paginacao) */
.marcacao-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
#anterior {
  width: 45px;
  height: 45px;
  background-image: url("./assets/seta-esquerda.png");
  background-size: contain;
  cursor: pointer;
}
#proxima {
  width: 45px;
  height: 45px;
  background-image: url("./assets/seta-direita.png");
  background-size: contain;
  cursor: pointer;
}
#pagina-atual {
  font-size: 1.3rem;
  color: white;
  width: 25px;
  background: none;
  border: none;
  text-align: center;
}
#pagina-atual:focus {
  outline: none;
  border: none;
}

/* Estilização dos cards */

.container-card-inicial {
  display: flex;
  width: 80%;
  height: 500px;
  justify-content: space-evenly;
  margin-top: 30px;
  border-radius: 30px;
  margin-left: 10%;
  padding: 20px;
  background-color: #530018;
  gap: 40px;
}
.container-escolha h2 {
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
  justify-content: center;
}
.card {
  justify-self: center;
  align-self: center;
  position: relative;
  width: 280px;
  height: 390px;
  border-radius: 20px;
  border: 3px solid #000000;
  transition: 150ms ease-in-out;
}
.card:hover {
  position: relative;
  transform: translate(0, -10px);
  box-shadow: 0px 0px 15px #fff600;
}
.card h3 {
  position: absolute;
  bottom: -5px;
  left: 20px;
  font-size: 2.2rem;
  -webkit-text-stroke: 2px #000000;
  margin-bottom: 30px;
}
.tipo-pokemom {
  text-align: center;
  font-weight: bold;
  -webkit-text-stroke: 1px #000000;
  border: 2px solid #000000;
  border-radius: 20px;
  width: 100px;
  position: absolute;
  bottom: 85px;
  left: 20px;
}
.img-moldura {
  position: absolute;
  width: 240px;
  height: 240px;
  border-radius: 20px;
  top: 18.5px;
  left: 18.5px;
  border: 3px solid #000000;
}
.img-moldura img {
  width: 100%;
  height: 100%;
}
.fav {
  position: absolute;
  top: 25px;
  right: 23px;
  width: 60px;
  border-radius: 50%;
  transition: 100ms ease-in-out;
}
.fav:hover {
  box-shadow: 0px 0px 15px #fff600;
  transform: scale3d(1.1, 1.1, 1.1);
}
.true {
  background-color: #fffb00;
}

/* Animação */

@keyframes aumentar {
  100% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
