:root {
  --fundo-pagina: #ae0336;
  --barra-navegacao-rodape: #c80036;
  --vermelho-claro: #ff2c57;
  --botao: #0c1844;
  --destaque-links: #fff600;
  --cor-normal: #665842;
  --fundo-paginacao: #530018;
}
/* Padronização de atributos */
* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  color: #ffffff;
  font-size: 20px;
}
body {
  background-color: var(--fundo-pagina);
}

header {
  width: 100%;
  height: 100px;
  border: 2px solid #000000;
  border-width: 0 0px 2px 0px;
  border-radius: 0px 0px 10px 10px;
  background-color: var(--barra-navegacao-rodape);
}

h1 {
  text-align: center;
  -webkit-text-stroke: 2px #000000;
  font-size: 50px;
}
h2 {
  -webkit-text-stroke: 2px #000000;
  font-size: 40px;
}
button {
  margin-bottom: 10px;
  padding: 2px 10px;
  border-radius: 30px;
  background-color: var(--botao);
  font-weight: bolder;
  border: 2px solid #000000;
  box-shadow: 0px 5px 4px #000000;
  transition: 150ms ease-in-out;
}
button:active {
  transform: translate(0, 5px);
  box-shadow: 0 0 0 #000000;
}
input{
  color: black;
  border-radius: 50px;
  padding-left: 10px;
}
/* Estilo da barra de navegacao superior */
.container-navegacao {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 30px;
}

.item-navegacao-esquerda {
  flex: 1;
}

.item-navegacao-centro {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item-navegacao-centro img{
  display: none;
}

.item-navegacao-centro a {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.item-navegacao-centro a:hover {
  color: var(--destaque-links);
  animation: aumentar 300ms ease-in-out forwards;
}

.item-navegacao-centro a::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 0%;
  background-color: var(--destaque-links);
  transition: 300ms ease-in-out;
}

.item-navegacao-centro a:hover::after {
  width: 100%;
}

.item-navegacao-direita {
  flex: 1;
}

#barra-pesquisa {
  border: none;
  border-radius: 20px;
  color: #0c1844;
  padding-left: 10px;
}

#barra-pesquisa:focus {
  outline: #ae0336;
}

/* Estilo do Rodapé */
footer {
  background-color: var(--barra-navegacao-rodape);
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0 0;
  border: solid #000000;
  border-width: 2px 0 0 0;
}

footer div {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  display: flex;
  justify-content: end;
  align-items: center;
}
/* estilo Filtros */

/* Div que contem os filtros */
.filtros {
  width: 80%;
  height: 200px;
  margin: 20px 0;
  margin-left: 10%;
  background-color: var(--vermelho-claro);
  border-radius: 20px;
  border: 3px solid #000000;
}

.filtros h2 {
  padding: 5px 30px;
}

.container-filtro {
  padding: 10px 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.filtro {
  width: 100px;
  height: 25px;
  background-color: gray;
  text-align: center;
  line-height: 25px;
  border-radius: 30px;
  border: 2px solid #000000;
  font-size: 22px;
  font-weight: bold;
  -webkit-text-stroke: 1px #000000;
  transition: 100ms ease-in-out;
}
.filtro:hover {
  cursor: pointer;
  transform: scale3d(1.1, 1.1, 1.1);
}

/* Seção de paginação */
.paginacao {
  width: 80%;
  margin: 20px 0;
  margin-left: 10%;
  border-radius: 20px;
  background-color: var(--fundo-paginacao);
  border: 3px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paginacao-grid-container {
  width: 890px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

/* mudar de pagina(paginacao) */
.marcacao-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
#anterior {
  width: 45px;
  height: 45px;
  background-image: url("./assets/seta-esquerda.png");
  background-size: contain;
  cursor: pointer;
}
#proxima {
  width: 45px;
  height: 45px;
  background-image: url("./assets/seta-direita.png");
  background-size: contain;
  cursor: pointer;
}
#pagina-atual {
  font-size: 1.3rem;
  color: white;
  width: 25px;
  background: none;
  border: none;
  text-align: center;
}
#pagina-atual:focus {
  outline: none;
  border: none;
}

/* Estilização dos cards */

.container-card-inicial {
  display: flex;
  width: 80%;
  height: 500px;
  justify-content: space-evenly;
  margin-top: 30px;
  border-radius: 30px;
  margin-left: 10%;
  padding: 20px;
  background-color: #530018;
  gap: 40px;
}
.container-escolha h2 {
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
  justify-content: center;
}
.card {
  justify-self: center;
  align-self: center;
  position: relative;
  width: 280px;
  height: 390px;
  border-radius: 20px;
  border: 3px solid #000000;
  transition: 150ms ease-in-out;
}
.card:hover {
  position: relative;
  transform: translate(0, -10px);
  box-shadow: 0px 0px 15px #fff600;
}
.card h3 {
  position: absolute;
  bottom: -5px;
  left: 20px;
  font-size: 2.2rem;
  -webkit-text-stroke: 2px #000000;
  margin-bottom: 30px;
}
.tipo-pokemom {
  text-align: center;
  font-weight: bold;
  -webkit-text-stroke: 1px #000000;
  border: 2px solid #000000;
  border-radius: 20px;
  width: 100px;
  position: absolute;
  bottom: 85px;
  left: 20px;
}
.img-moldura {
  position: absolute;
  width: 240px;
  height: 240px;
  border-radius: 20px;
  top: 18.5px;
  left: 18.5px;
  border: 3px solid #000000;
}
.img-moldura img {
  width: 100%;
  height: 100%;
}
.fav {
  position: absolute;
  top: 25px;
  right: 23px;
  width: 60px;
  border-radius: 50%;
  transition: 100ms ease-in-out;
}
.fav:hover {
  box-shadow: 0px 0px 15px #fff600;
  transform: scale3d(1.1, 1.1, 1.1);
}
.true {
  background-color: #fffb00;
}

/* dicas favotiros */
.dicas-favoritos {
  width: 80%;
  margin: 20px 0;
  margin-left: 10%;
  background-color: #FFDB1B;
  border: 3px solid #000000;
  padding: 20px;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5;
  text-align: justify;
  box-shadow: 0px 0px 10px #000000;
}

.show{
  
}

#btn-pesquisar{
  display: none;
}

@media screen and (max-width: 900px){
  #btn-pesquisar{
    display: flex;
  }
  .item-navegacao-centro{
    overflow: hidden;
    display: flex;
    height: 400px;
    background-color: #c80036;
    border: 2px solid #000000;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    top: 100px;
    z-index: 20;
    flex-direction: column;
    align-items: start;
    padding-left: 30px;
    animation: esconder-menu 100ms linear forwards;
  }
  .item-navegacao-centro img{
    width: 35px;
    display: flex;
  }

  .item-navegacao-direita{
    display: flex;
    justify-content: end;
  }

  .item-navegacao-centro.mostrar{
    display: flex;
    width: 50%;
    animation: mostrar-menu 100ms linear forwards;
  }

  #barra-pesquisa{
    display: none;
  }

  .btn-menu-nav{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .btn-menu-nav div{
    width: 50px;
    height: 8px;
    background-color: white;
    border-radius: 4px;
    border: 2px solid #000000;
  }

  .menu-direita{
    position: relative;
    animation: direita-volta 100ms linear forwards;
  }
  .menu-esquerda{
    position: relative;
    animation: esquerda-volta 100ms linear forwards;
  }

  .btn-menu-nav.show .menu-direita{
    animation: direita 100ms linear forwards;
  }
  .btn-menu-nav.show .menu-esquerda{
    animation: esquerda 100ms linear forwards;
  }
}

/* Animação */

@keyframes aumentar {
  100% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}

@keyframes esquerda{
  0% {
    transform: rotate(0deg);
  }
  100% {
    position: absolute;
    top: 40%;
    left: 0%;
    transform: rotate(-45deg);
  }
}

@keyframes direita{
  0% {
    transform: rotate(0deg);
  }
  100% {
    position: absolute;
    top: 40%;
    left: 0%;
    transform: rotate(45deg);
  }
}

@keyframes esquerda-volta{
  0% {
    position: absolute;
    top: 40%;
    left: 0%;
    transform: rotate(-45deg);
  }
  100% {
        transform: rotate(0deg);
  }
}

@keyframes direita-volta{
  0% {
    position: absolute;
    top: 40%;
    left: 0%;
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes mostrar-menu{
  0%{
    width: 0%;
    display: flex;
  }
  100%{
    width: 50%;
  }
}

@keyframes esconder-menu{
  0%{
    width: 50%;
  }
  98%{
    opacity: 100%;
  }
  100%{
    width: 0%;
    opacity: 0%;
  }
}